<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>___VARIABLE_productName___Mock</string>
	<key>Description</key>
	<string>The name of the mock interface</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<string>YES</string>
			<key>Name</key>
			<string>Implementing Protocol:</string>
			<key>Description</key>
			<string>What protocol the mock is an implementation of</string>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>swiftProtocolFunction</string>
			<key>Required</key>
			<string>YES</string>
			<key>Name</key>
			<string>Protocol Function:</string>
			<key>Description</key>
			<string>The function to mock</string>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>AllowedTypes</key>
			<dict>
				<key>Swift</key>
				<array>
					<string>public.swift-source</string>
				</array>
			</dict>
			<key>Default</key>
			<string>Swift</string>
			<key>Description</key>
			<string>The implementation language</string>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>MainTemplateFiles</key>
			<dict>
				<key>Swift</key>
				<string>___VARIABLE_swiftProtocol___Mock</string>
			</dict>
			<key>Name</key>
			<string>Language:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>popup</string>
			<key>Values</key>
			<array>
				<string>Swift</string>
			</array>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<string>8</string>
	<key>Summary</key>
	<string>A Mock Interface</string>
	<key>BuildableType</key>
	<string>Test</string>
</dict>
</plist>
